@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/conthrax");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  scrollbar-width: 0.25rem;
}

body[class="dark"] {
  background-color: #161717;
}

body[class="light"] {
  background-color: white;
}

.dark {
  --primary-1: #3b82f6;
  --primary-2: #06b6d4;

  --gr-1: #64748b;
  --gr-2: #94a3b8;
  --gr-3: #cbd5e1;
  --gr-4: #1e293b;
  --gr-5: #334155;

  --light-1: #0f172a;
  --light-2: #1e293b;
  --light-3: #1e293b;
  --light-4: #111827;
  --light-5: #27374d;

  --link-1: #0ea5e9;
  --light-green: #064e3b;

  --white-1: #0b0f1a;
  --white-2: #1c1f2a;
  --black-1: #f0f0f0;
  --black-2: #dddddd;
  --black-3: #bcbcbc;

  --green-1: #22c55e;
  --green-2: #15803d;
  --green-3: #14b8a6;
  --yellow-1: #eab308;
  --red-1: #ef4444;
  --red-2: #be123c;
  --blue-1: #3b82f6;
  --blue-2: #2563eb;
  --purple-1: #8b5cf6;
  --orange-1: #f97316;
  --pink-1: #ec4899;
  --brown-1: #78350f;

  --border-1: #334155;

  --table: #1e293b;
  --table-odd: #0f172a;

  --status-green: #14532d;
  --status-red: #7f1d1d;
  --status-yellow: #854d0e;
  --status-gray: #475569;
  --status-blue: #1d4ed8;
  --status-purple: #6d28d9;
  --status-orange: #b45309;
  --status-pink: #9d174d;
  --status-brown: #3e1b11;
  --status-primary-1: #0284c7;
  --status-primary-2: #0f172a;
}

.light {
  --primary-1: #3b82f6;
  --primary-2: #06b6d4;

  --gr-1: #64748b;
  --gr-2: #9ca3af;
  --gr-3: #cbd5e1;
  --gr-4: #f1f5f9;
  --gr-5: #e2e8f0;

  --light-1: #f8fafc;
  --light-2: #ecfeff;
  --light-3: #e0f2fe;
  --light-4: #f1f5f9;
  --light-5: #e2e8f0;

  --link-1: #0ea5e9;
  --light-green: #e0fce3;

  --white-1: #ffffff;
  --white-2: #f9fafb;
  --black-1: #1a1a1a;
  --black-2: #2d2d2d;
  --black-3: #505050;

  --green-1: #22c55e;
  --green-2: #16a34a;
  --green-3: #2dd4bf;
  --yellow-1: #facc15;
  --red-1: #ef4444;
  --red-2: #e11d48;
  --red-3: #f87171;
  --blue-1: #3b82f6;
  --blue-2: #2563eb;
  --purple-1: #a855f7;
  --orange-1: #fb923c;
  --pink-1: #f472b6;
  --brown-1: #b45309;

  --border-1: #cbd5e1;

  --table: #f1f5f9;
  --table-odd: #ffffff;

  --status-green: #e0fce3;
  --status-red: #ffe4e6;
  --status-yellow: #fef9c3;
  --status-gray: #f1f5f9;
  --status-blue: #dbeafe;
  --status-purple: #f3e8ff;
  --status-orange: #ffedd5;
  --status-pink: #fce7f3;
  --status-brown: #ede0d4;
  --status-primary-1: #7dd3fc;
  --status-primary-2: #ecfeff;
}

section {
  min-height: 100dvh;
}
.light .section_row {
  grid-template-rows: auto auto auto 1fr;
  background-color: #f9f9f9;
}
.dark .section_row {
  grid-template-rows: auto auto auto 1fr;
  background-color: #10111c;
}
.dark input {
  font-family: "Lexend Deca", sans-serif;
  background-color: #1b1a1e;
}
.light input {
  font-family: "Lexend Deca", sans-serif;
  background-color: #ffffff;
}

.customInput input {
  background-color: transparent !important;
  color: white;
}

.stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke: 1.5px black;
}

body {
  overflow-x: hidden;
  font-family: "Lexend Deca", sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
.right-panel-active .sign-in-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

@media (max-width: 1024px) {
  .sign-up-container {
    transform: none !important;
  }
}

/* FadeIn */
@keyframes fadeInOutAnimation {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.fade {
  animation: fadeInOutAnimation 1.5s ease-in-out infinite;
}

.custom-datepicker {
  min-width: 20.5rem;
}

.custom-popper-left {
  right: -3rem;
}
.custom-popper-right {
  right: -22rem;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 1rem;
}
